.hide {
  display: none;
}
.copyandpay_form {
  display: block;
}

/* --modal--- */
:root {
  --lightgray: #efefef;
  --blue: steelblue;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
*/ {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;
}

body {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  font: 16px/1.5 sans-serif;
}

.btn-group {
  text-align: center;
}

.open-modal {
  font-weight: bold;
  background: var(--blue);
  color: var(--white);
  padding: 0.75rem 1.75rem;
  margin-bottom: 1rem;
  border-radius: 30px;
}

/* -------------MODAL –––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 400vh;
  /* changed on 28.11.22 */
  width: 509px;
  border-radius: 5px;
  background: var(--white);
  /* scroll if scroll not working i have to remove this */
  overflow: auto; 
  cursor: default;
}

/* .modal-dialog > * {
  padding: 2rem;
} */
.modal-dialog {
  padding: 0px 25px 0px 30px;
}

.modal-header {
  display: flex;
  align-items: center;
}

.modal-header .close-modal {
  font-size: 0.9em;
  color: black;
  margin-top: 13px;
}
.modal-header .close-modal:hover {
  background-color: lightgray;
  color: black;
  font-weight: 500;
}

/* .modal p + p {
  margin-top: 1rem;
} */

/* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.page-footer span {
  color: #e31b23;
}

@media only screen and (max-width: 780px) {
 
  .wpwl-form-card {
    justify-content: center;
    /* display: grid !important; */
    grid-template-areas:
        "Name . Exp"
        "Num . CVV"
        "sub sub sub";
    grid-template-columns: 0fr 17px 0.6fr!important;
    grid-template-rows: 84px 92px 79px !important;
    margin: 0 auto;
  }

  input.wpwl-control.wpwl-control-cardHolder {
    width: 170px !important;
}
.wpwl-group.wpwl-group-button.wpwl-clearfix {
  text-align: center;
}

.wpwl-form-card {
  width: 343px!important;
  padding: 10px!important;
  margin-left: -48px !important;
}
.modal-dialog {
  width: 96%!important;
}
.modal-dialog {
  padding: 0px 20px 0px 20px!important;
}
.wpwl-container {
  width:0px!important;
}
form.wpwl-form.wpwl-form-card.wpwl-clearfix {
  position: relative!important;
  right: 11px!important;
}
}


@media only screen and (width: 414px) {
form.wpwl-form.wpwl-form-card.wpwl-clearfix {
  position: relative!important;
  right: -5px!important;
}
.wpwl-container {
  width: 350px!important;
}
}
@media only screen and (width: 390px) {
  form.wpwl-form.wpwl-form-card.wpwl-clearfix {
    position: relative!important;
    right: 5px!important;
  }
  .wpwl-container {
    width: 350px!important;
  }
  }

  @media only screen and (width: 360px) {
    form.wpwl-form.wpwl-form-card.wpwl-clearfix {
      position: relative!important;
      right: 10px!important;
  }
    .wpwl-container.wpwl-container-card.wpwl-container-card-1357610740830.wpwl-clearfix {
      width: 0px!important;
  }
  .wpwl-container {
    width: 315px!important;
}
.wpwl-form-card {
  width: 325px!important;
}
    }

    @media only screen and (width: 412px) {
      form.wpwl-form.wpwl-form-card.wpwl-clearfix {
        position: relative!important;
        right: 0px!important;
    }
      .wpwl-container.wpwl-container-card.wpwl-container-card-1357610740830.wpwl-clearfix {
        width: 0px!important;
    }
    .wpwl-container {
      width: 315px!important;
  }
  .wpwl-form-card {
    width: 360px!important;
    padding: 10px!important;
    margin-left: -48px !important;
}
      }
      @media only screen and (width: 540px) {
      .wpwl-form-card {
        width: 480px!important;
        padding: 10px!important;
        margin-left: -48px !important;
    }
    form.wpwl-form.wpwl-form-card.wpwl-clearfix {
      position: relative!important;
      right: 0px!important;
  }
  .wpwl-container {
    width: auto!important;
}
  }

  @media only screen and (width: 768px) {
  form.wpwl-form.wpwl-form-card.wpwl-clearfix {
    position: relative!important;
    right: 0px!important;
    margin-left: 0px!important;
}
.wpwl-form-card {
  width: 100%!important;
  padding: 30px!important;
  margin-left: -48px !important;
}
.wpwl-container {
  width: auto!important;
}
.wpwl-form {
  max-width: initial!important;
}
.wpwl-container input {
  color: white;
  font-size: 18px;
  width: 12rem;
}
input.wpwl-control.wpwl-control-cardHolder {
  width: 340px !important;
}
.wpwl-label {
  width: 100%;
  text-align: start;
  font-size: 17px;
}
.wpwl-container .wpwl-group-cvv {
  grid-area: CVV;
  width: 100%!important;
}
  }
  
